.left {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 50px;
  margin-top: 50px;
  z-index: 5;
  position: sticky;
  height: 100%;
  left: 0;
  > div {
    width: 100%;
    font-size: 40px;
    height: 150px;
    flex-shrink: 0;
    border-right: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-gray-3) !important;
  }
  > div:nth-child(1) {
    border-top: 1px solid var(--color-primary);
  }
}
