.version {
  position: absolute;
  bottom: 15px;
  right: 10px;
  user-select: none;
  color: var(--color-gray-8);
  font-size: 0.9rem;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.hide {
  opacity: 0;
}
