.column {
  min-width: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: auto; /* Ширина по содержимому */
  flex-shrink: 0; /* Запрет на сжатие */
  //   padding: 0px 20px;
  .header {
    z-index: 4;
    position: sticky;
    top: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.1rem;
    border-radius: 6px;
    flex-shrink: 0;
  }
  .rows {
    padding: 0px 10px 0px 10px;
    .row {
      padding: 10px 0px;
      height: 150px;
      display: flex;
    }
  }
}
