.column {
  min-width: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: auto; /* Ширина по содержимому */
  flex-shrink: 0; /* Запрет на сжатие */
  //   padding: 0px 20px;
  .rows {
    padding: 0px 10px 0px 10px;
    .row {
      padding: 10px 0px;
      height: 150px;
      display: flex;
    }
  }
}
