.container {
  display: flex; /* Устанавливает flex-контекст */
  flex: 1; /* Занимает доступное пространство внутри .content */
  position: relative;
  overflow: auto; /* Добавляет прокрутку внутри контейнера */
  box-sizing: border-box;
  height: 100%; /* Растягивается на всю доступную высоту */
  width: 100%; /* Растягивается на всю доступную ширину */

  .body {
    width: 5000px; /* Демонстрационная ширина контента */
    height: 3000px; /* Демонстрационная высота контента */
    background-color: lightgray; /* Для визуализации */
  }
}
