.board {
  flex: 1;
  position: relative;
  display: flex;
  overflow: auto;
  //   .header {
  //     background-color: red;
  //     position: sticky !important;
  //     top: 0 !important;
  //     z-index: 10;
  //   }
  //   .left_bar {
  //     position: sticky;
  //     left: 0;
  //     z-index: 10;
  //     background-color: blue;
  //     width: 100px;
  //   }

  //   .right_bar {
  //     width: 100px;
  //     position: sticky;
  //     right: 0;
  //     z-index: 10;
  //     background-color: black;
  //   }

  .content {
  }
}
