.main {
  height: 100vh;
  display: flex;
  width: 100%;
}

@keyframes hideSidebar {
  from {
    transform: translateX(0);
    width: 15rem;
  }

  to {
    width: 3rem;
  }
}

@keyframes showSidebar {
  from {
    width: 3rem;
  }

  to {
    transform: translateX(0);
    width: 15rem;
  }
}

@keyframes showContent {
  from {
    width: calc(100% - 15rem);
  }
  to {
    width: calc(100% - 3rem);
  }
}

@keyframes hideContent {
  from {
    width: calc(100% - 3rem);
  }
  to {
    width: calc(100% - 15rem);
  }
}

.hideSidebar {
  > aside {
    animation: hideSidebar 0.35s forwards;
  }
  > div {
    animation: showContent 0.35s forwards;
  }
}

.showSidebar {
  > aside {
    animation: showSidebar 0.35s forwards;
  }
  > div {
    animation: hideContent 0.35s forwards;
  }
}
