.header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;
  .logo {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    > span {
      font-size: 1.75rem;
      font-weight: 500;
    }
    > img {
      object-fit: contain;
      height: 60px;
    }
  }

  > button {
    opacity: 0.8;
    transition: all 0.333s ease-in-out;
    &:hover {
      opacity: 1;
      color: var(--color-primary);
    }
  }
}
